
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://c.pxhere.com/photos/ff/69/green_grass_wet_drops_rain_water_texture_wallpaper-682057.jpg%21d') no-repeat center center/cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.title {
    font-size: 90px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    animation: bounceInDown 1s ease-in-out;
}

.container {
    text-align: center;
    background-color: rgba(157, 220, 134, 0.9);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    width: 400px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 5px;
}

#whatsappButton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 20px;
}

#whatsappButton:hover {
    background-color: #45a049;
    transform: scale(1.05);
}


.contact h4 {
    margin: 0;
}

.contact p {
    margin: 5px 0 0;
}
